<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
      {% if title %}
        <title>Knitting Tools - {{ title }}</title>
      {% else %}
        <title>Knitting Tools</title>
      {% endif %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-nav fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Knitting Tools</a>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/calculators">Calculators</a>
            <a class="nav-item nav-link" href="/counter">Counters</a>
            <a class="nav-item nav-link" href="/yarn">Yarn Substitutes</a>
          </div>
        </div>
      </div>
    </nav>
    <main role="main" class="container">
      <div class="row">
        <div class="col-8">
          {% block content %}{% endblock content%}
        </div>
        <div class="col-4">
          <div class="content">
            <h4>Content</h4>
            <div class="list-group">
              <a href="/" class="list-group-item list-group-item-action">Home</a>
              <div class="list-group-item">
                <a href="{{ url_for('home', _anchor='sizes') }}" class="list-group-item list-group-item-action">Needle and Hook Sizes</a>
                <a href="{{ url_for('home', _anchor='weights') }}" class="list-group-item list-group-item-action">Yarn Weights</a>
                <a href="{{ url_for('home', _anchor='k-abbreviations') }}" class="list-group-item list-group-item-action">Knitting Abbreviations</a>
                <a href="{{ url_for('home', _anchor='c-abbreviations') }}" class="list-group-item list-group-item-action">Crochet Abbreviations</a>
              </div>
              <a href="/calculators" class="list-group-item list-group-item-action">Calculators</a>
              <div class="list-group-item">
                <a href="{{ url_for('calculators', _anchor='decrease') }}" class="list-group-item list-group-item-action">Decrease Stitches Evenly</a>
                <a href="{{ url_for('calculators', _anchor='increase') }}" class="list-group-item list-group-item-action">Increase Stitches Evenly</a>
                <a href="{{ url_for('calculators', _anchor='bind') }}" class="list-group-item list-group-item-action">Get Bind-on Stitches</a>
                <a href="{{ url_for('calculators', _anchor='rectangle') }}" class="list-group-item list-group-item-action">Create a Rectangle</a>
              </div>
            <a href="/counter" class="list-group-item list-group-item-action">Counters</a>
            <a href="/yarn" class="list-group-item list-group-item-action">Yarn Substitutes</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  </body>
</html>