{% extends "layout.html" %}
{% block content %}
  <h3>Yarn Substitutes</h3>
  <br>
  <div class="container">
    <form method="post">
      <div class="col-8">
      <div class="input-group mb-3">
        <span class="input-group-text" id="input-name">Yarn Name:</span>
        <input type="text" name="yarn-name" id="yarn-name" class="form-control" aria-label="yarn"
               aria-describedby="yarn" value="{{ name }}">
        <button class="btn btn-outline-secondary" name="search" value="search">Search</button>
      </div>
      </div>
    </form>
  </div>
  {% if yarn_list %}
    <h4>Select a yarn:</h4>
    {% set flag = False %}
    <div class="col-md-10">
      <form method="post">
        {% for i in range(yarn_list|length) %}
          {% set yarn = yarn_list[i] %}
          <div class="form-check radio-btn">
            {% if i == 0 %}
              <input class="form-check-input" type="radio" name="yarn" id="{{yarn['Name']}}"
                     value="{{yarn['Link']}}" checked>
            {% else %}
            <input class="form-check-input" type="radio" name="yarn" id="{{yarn['Name']}}"
                   value="{{yarn['Link']}}">
            {% endif %}
            <label class="form-check-label" for="{{yarn['Name']}}"><b>{{yarn['Brand']}}</b>: {{yarn['Name']}}</label>
          </div>
        {% endfor %}
        <br>
        <div class="form-check">
          <input type="submit" class="myButton" name="details" id="details" value="Get Details">
        </div>
      </form>
    </div>
  {% endif %}
{% endblock content %}